/* Menu */
#menu {
    background-image: url('../img/black_linen.png');
    background-color: cover;
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 70px;
}
#menu h1 {
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 6em;
    text-shadow: 1px 1px 5px #0a0a0a;
}
#menu h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2em;
}
#menu a{
    color: #f8512f;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
#menu p {
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.food {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu .nav li a:hover {
    #menu .nav-justified li a {
        margin-bottom: -5px;
            }
#menu .nav-tabs li a {
    border: none;
}
/* End Menu */

/* Contact Us Section */

.contact_form {
    background-color: #ff6633;
    color: #fff;
    border: 1px solid #fff;
}
.contact-form form {
    padding: 5% 0;
}
.contact_form span {
    color: #ff0d06;
}
form span::after {
    content: '*';
}
#contact {
    background-color: #f8512f
}
#contact f1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 4em;
}
#contact p {
    
    font-weight: 300;
    color: #fff;
    font-size: 1em;
}
#contact_fine_print {
    font-size: 12px; !important
    text-align: center;
}font-family: 'Raleway', sans-serif;
address {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.contact_bottom {
    margin-top: 50px;
    margin-bottom: 25px;
}
@media (max-width: 768px) {
    .story_year {
        font-size: 168px;
    }
}

/* End of Contact Us Section */